.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  // background-color: #2196f3;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 20px;
  text-align: center;
}

.product-table {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
  td {
    border: 1px solid black;
    text-align: center;
    padding: 5px;
  }
  th {
    border: 1px solid black;
    font-weight: 700;
    font-size: 17px;
    padding: 5px;
  }
}

.action-icon {
  font-size: 15px;
  text-align: center;
  margin: auto;
  display: inherit;
}

.submit-button {
  margin-top: 10px;
  color: white;
  background-color: #3f51b5;
}
